* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: burlywood;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  background: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}
